:root{
    --vermelho: #E50914; 
    --preto:  #141414;
    --outra : #aaa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   display: flex;
   justify-content: space-between;
   margin:1rem 0rem;
   padding: 1rem;
    
}

body{
    background-color:var(--preto);
    font-family: 'Arial', Times, serif ;
    color: rgba(255, 255, 255, 0.979);
    width:100%;
}

 .container{
     display: flex;
     align-items: center; 
     justify-content:space-between;
     width: 100%;
     padding: 0px 0px;
     margin:0px 0px; 
}

.div-logo{
    display: flex;
    justify-content:flex-start;
}
.logo{
    margin-left: 5px;
    color:var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#menu{
    display:none;
}
.container a{
    color: #fafafa;
    font-size: 2rem;
}
.container a:hover{
    color: var(--vermelho);
}

 .a{
    font-size: 1rem;
 }
nav{
    
    justify-content: center;
    align-items: center;
    
}

 nav a{
    
   
    text-decoration: none;
    color:#fafafa;
    font-size: 1rem;
 }
 
 /*
.botao-login{
    display:none;
}
.container a {
    display:none;
}*/
/*header nav a {
     text-decoration:none;
     color: #aaa;
     margin-right: 10px;
}*/

header nav a:hover{
    color: var(--vermelho);
}

.box-login{
    display:block;
}
.botao-login{
    background-color: #fafafa;
    color:#E50914;
    border-radius: 1rem;
    padding:0px;
    margin: 0px;
    height: 1.8rem;
    width: 11%;
    cursor: pointer;
    
}
.botao-login:hover{
    background-color: var(--vermelho);
    color:#fafafa;
    border-radius: 1rem;
}
.login{
    color:var(--vermelho);
    border-radius: 0.4rem;
}
.box-principal{
    
    width: 100%;
    height: 45rem;
    
}
.filme-principal{
    background-image:  url('img/img-capa/peaky-blinders-2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.titulo{
    margin-top: 40%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botoes{
    display:flex;
    justify-content: center;
    align-self: center;
    width: 35%;
    margin:1rem ;
    margin-top: 40rem;
   
}
.botao{
    background-color:  rgba(0,0,0.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 15px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 2rem ;
   
}
.botao:hover{
    background-color: white;
    color: black;
}




.filme-principal.container{
    width: 70%;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: flex;
   
}


.carrosel-filmes{
    margin-top: 5px;
}


  .botao1:hover{
    color:#E50914;
}
section{
    margin-top:1rem ;
    cursor: pointer;
}


h3{
    display:flex;
    align-items: center;
    justify-content: center;
}

    
@media  ( min-width:350px)  and (max-width:750px){
       
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        padding: 0px;
        margin:0px;
        }
         .container{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;   
        }
        .container a{
           
            color:#fafafa;
            margin-top:1.5rem;
            font-size: 1.4rem;
        }

        .container #menu{
            display:none;
        }
        
        .box-login{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 1px;
            margin:6px 1px;
        }
         .login {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:1px 1px;
            margin:1px 1px;
            
        }
       .botao-login{
            background-color: #fafafa;
            color:#E50914;
            border-radius: 1rem;
            padding:0px;
            margin: 2px;
            height: 1.9rem;
            width:20%;
        }
        .box-principal{
            display: flex;
            flex-direction: column;
            height: 17rem;
            width: 100%;
            padding:20px 0px;
            margin:5px 0px;
        }
        .filme-principal{
            height: 15rem;
            width:100%;
            padding:0px 0px;
            margin:10px 0px;
        }
        .botoes{
            display:flex;
          
            padding:0px;
            margin-top:10rem;
            width:100%;
            justify-content:center;
            align-self:center;
        }
        .botao{
            display:flex;
            width: 90%;
            padding:5px 2px;
            margin:0px 0.5rem;
            align-items: center;
            justify-content: center;
        }
        section{
            margin-top:1rem ;
        }
      
        
       
       
       
     
        nav{
            margin-top: 1rem;
            width: 100%;

                     
        }
        nav a {
            text-decoration: none;   
            color:#E50914;
        }
       /* .botao-login{
            background-color: #fafafa;
            color:#E50914;
            border-radius: 1rem;
            padding:0px;
            margin: 0px;
            height: 1.9rem;
            width:50%;
        }*/
}
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:flex;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
